@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #2fbab8;
    --main-color25: #2fbab825;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --button-hover: #048f8e;
    --scheduleheader:#6D8EA0 ;
    --schedulebody: ;
}

 *  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.45rem;

}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu ul {
    padding-left: 0;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

.sidebar-menu a:hover, .sidebar-menu a:focus, .sidebar-menu a:active {
    color: #eee;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header#main-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}
#checkbox-appointments{
    outline: 2px solid var(--text-grey) !important;
    border: none !important;
  }
#fieldset-filter{
    display: flex;
    max-width: 600px;
}
.form-select{
    display:inline-block !important;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% -  70px);
    left: 70px;
}


header h2 {
    color: var(--color-dark);
    font-size: 1.4rem;
   
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}
.text-greenp {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 17px;
    background-color:#C7EEC0;
}
.text-redp {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 8px; 
    background-color:#FBC4B9;

}
.text-greyp{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 9px;
    background-color: #d8d8d8;
}

.ttable {
    border-collapse: collapse;
    margin: 5px 0;
    margin: auto;
    font-size: 1rem;
    font-family: sans-serif;
    max-width: 1000px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.totalcost{
    
    display: inline center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-dark);
    display:flex; flex-direction: row; text-align:center;
    padding-top: 15px;
    align-items: center;
    justify-content: center;

}
.totalcost .price{
    color: var(--main-color) !important;
    padding-left: 0.8rem;
    font-size: 1.2rem;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single div:last-child span {
    color: var(--main-color);
    font-size: 3rem;
}
.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.card-header{
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.card {
    background: #fff;
    border-radius: 5px;
}

.card-header button {
    background-color: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
tr td .appointment_buttons{
    display: block !important;
    width: 80px !important;
    
}
tr td:last-child > .buttons {
    display: flex !important;
   
    
}
tr td:last-child > .buttons > button:last-of-type {
    margin-left: 0.8rem !important;
}

tr td:last-child > .buttons > button:first-of-type {
    margin-right: 0.8rem !important;
}

.approve_appointment{
    
    font-size: 1rem !important;
    float: left !important;
    margin: auto;

}
.cancel_appointment{
    width: 2rem;
    font-size: 1rem !important;
    float: right !important;
    
}
.approve_treatment{
    
    font-size: 1rem !important;
    float: left !important;
    margin: auto;
    color: var(--main-color) !important;

}
.cancel_treatment{
    width: 2rem;
    font-size: 1rem !important;
    float: right !important;
    color: var(--main-color) !important;
    
}
.Pdesc{
    width: 60% !important;
}

#firstname-group{
    margin-bottom: 0.8rem !important;
}
#lastname-group{
    margin-bottom: 0.8rem !important;
}
#email-group{
    margin-bottom: 0.8rem !important;
}
#phone-group{
    margin-bottom: 0.8rem !important;
}
#patient-group{
    margin-bottom: 0.8rem !important;
}
#dentist-group{
    margin-bottom: 0.8rem !important;
}
#date-group{
    margin-bottom: 0.8rem !important;
}
#time-group{
    margin-bottom: 0.8rem !important;
}
#title-group{
    margin-bottom: 0.8rem !important;
}
#price-group{
    margin-bottom: 0.8rem !important;
}
#details-group{
    margin-bottom: 0.8rem !important;
}
td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

.status.red{
    background: red;
}

.status.green{
    background: green;
}

.status.yellow{
    background: yellow;
}

.status.grey{
    background: grey;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
}

.patient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.info {
    display: flex;
    align-items: center;
}

.info h4 {
    font-size: .8rem;
    font-weight: 600;
    padding-right: 1rem;
    color: #333;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.info small i {
    padding-right: 0.5rem;
    color: #2fbab8;
}
.profile{
    display:flex; flex-direction: column; text-align: left;
    width: 90%;
    max-width: 500px;
    margin:auto;  
  }
  .profile .label{
      color: var(--color-dark);
      font-size: 1.2rem;
      margin-top: 1rem;
  }
  input[readonly]{
      background-color: #fff !important;
      border-color: var(--main-color);
      font-size: 1rem;
      max-width: 500px;
      height: 38px;
  }
  .heading{
      display: none;
  }
  
  .modal-header{
    border: none !important;  
}
.stage{
    padding: 8px 12px !important;
    margin-bottom: 1rem;
    font-size: 1rem !important;
}
.stagestatus{
    padding: 7px 13px !important;
    margin-top: 1rem;
    font-size: 1.1rem !important;
}
  .profile .kbutton{
      
      margin: 40px auto !important;
      display: flex !important;
      padding: 7px 30px !important;
      font-size: 1.1rem;
  }
  .profile button.profile-submit {
    margin-left: auto !important;
    margin-top: 1rem !important;
    font-size: 1rem !important;
    padding: 8px 25px !important;
}
.mb-3 .custom-control-input{
    margin-right: 0.5rem !important;
}
.v-present .v-btn {
    background-color: var(--main-color) !important;
}
@media only screen and (max-width: 1200px){

    .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
    }
    
    .sidebar {
        width: 70px;
    }
    
    .sidebar .sidebar-brand,
   .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    
    .sidebar li a {
        padding-left: 0rem;
    }
    
    .main-content {
        margin-left: 70px;
    }
    
   .main-content header {
        width: calc(100% -  70px);
        left: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid {
        grid-template-columns: 60% 40%;
    }
    .recent-grid-pv {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 100%;
    }

}
.ptable, .b-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.b-table tbody {
    border-top: none !important;
}
.ptable thead tr, .b-table thead tr {

    background-color: var(--main-color);
    color: #ffffff;
    text-align: left;
}
.ptable td, .b-table td{
    font-size: 1rem;
}
a { color: inherit; }
  /* mouse over link */

  .search
  {
      display: flex;
      border: 1px solid var(--main-color);
      overflow: auto;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      background: #fff;
  }
  .search:focus-within {
    box-shadow:0 0 0 .15rem var(--main-color25);
  }
  
  .search input[type="text"]
  {
      border: 0px;
      width: 95.8%;
      padding: 10px 10px;
  }
  
  .search input[type="text"]:focus
  {
      box-shadow: none;
      outline: 0;
  }
  
  .search input[type="submit"], .btn.btn-secondary
  {
      border: 0px;
      background: none;
      background-color: var(--main-color);
      color: #fff;
      float: right;
      padding: 11px 36px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-radius-top-right: 5px;
      -webkit-border-radius-top-right: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottom-right: 5px;
      -webkit-border-radius-bottom-right: 5px;
          cursor:pointer;
  }
  .search input[type="submit"], .search .btn.btn-secondary
  {
      border: 2px solid var(--button-hover);
      background: none;
      background-color: var(--main-color);
      color: #fff;
      float: right;
      padding: 11px 20px !important;
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      -moz-border-radius-top-right: 1px;
      -webkit-border-radius-top-right: 1px;
      border-bottom-right-radius: 1px;
      border-bottom-left-radius: 1px;
      -moz-border-radius-bottom-right: 1px;
      -webkit-border-radius-bottom-right: 1px;
          cursor:pointer;
  }
  
  .main-content .btn-outline-info {
    color: var(--main-color);
    border-color: var(--main-color);
  }
  .main-content .btn-outline-info:hover, .main-content .btn-outline-info:focus, .main-content .btn-outline-info:active {
      background-color: var(--main-color);
      color: #fff;
  }
  .search input[type="submit"]:hover, .btn.btn-secondary:hover, .card-header button:hover, 
  .search input[type="submit"]:focus, .btn.btn-secondary:focus, .card-header button:focus,
  .search input[type="submit"]:active, .btn.btn-secondary:active, .card-header button:active {
    background-color: var(--button-hover);
    border: 0px solid var(--button-hover);
  }

.calendar-container {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: 
    ". headerschedule"
    "timeslots-container main";
}

.weekdays,
.daynumbers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.daynumbers {
    min-height: 2rem;
}

.weekdays {
    background: var(--main-color);
}

.headerschedule {
    background-color: lightcyan;
    grid-area: headerschedule;
}

.timeslots-container{
    background-color: var(--main-color);
    grid-area: timeslots-container;
    justify-content: left;
}

.timeslots {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeslots li {
    min-height: 60px;
  }
  
  .timeslots li::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 100%;
    height: 1px;
    background: #afafaf;
    z-index: 1;
  }
  
  .event-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 
    4 * 15 min intervals * 9 slots
    4 * 9 = 27 */
    grid-template-rows: repeat(36, 1fr);
    background: rgb(222, 223, 231);
    grid-area: main;
    position: relative;
    white-space: nowrap;
    background: repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent 14.2%,
      gray 14.3%
    );
  }
  
  .event-name {
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 15px;
  }
  
  .slot {
    position: absolute;
    /* overflow: hidden; */
    background: rgb(66, 147, 223);
    border-radius: 5px;
    z-index: 2;
    margin-top: 1px;
    border-color: rgb(3, 155, 229);
    outline: none;
  }
  
  .slot::before {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .slot::after {
    position: absolute;
    top: -1px;
    left: -1px;
    width: -webkit-calc(100% + 2px);
    width: calc(100% + 2px);
    height: -webkit-calc(100% + 2px);
    height: calc(100% + 2px);
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid #fff;
  }
  
  .event-status {
    float: left;
    border-left: 3px solid rgb(71, 235, 93);
    height: 100%;
  }
  
  .slot-1 {
    /* is based on duration */
    height: 45px;
  
    /* based on start time */
    grid-row: 17;
  
    /* based on day of week */
    grid-column: 1;
  }
  
  .slot-2 {
    height: 45px;
  }
  
  .slot-3 {
    height: 75px;
  }
  
  .slot-4 {
    color: red;
  }
  
  .on-resize {
    opacity: 0.85;
  }
  
  .gridcell::after {
    content: "";
    border-right: #dadce0 1px solid;
    position: relative;
    /* padding-right: 12px; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    -webkit-box-flex: 1 1 auto;
    /* -webkit-flex: 1 1 auto; */
    /* flex: 1 1 auto; */
    height: 200%;
  }

  .recent-grid-pv {
    margin-top: -1rem;
    display: grid;
    grid-gap: 1rem;
    margin-right: 16rem;
    grid-template-columns: 170% auto;
    position: absolute;  right: 0px;
     
  }
  .close {
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 4px;
  }

.user-wrapper ul{
    padding: 0;
    list-style: none;
    background: #fff;
}
.user-wrapper ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}
.user-wrapper ul li a{
    display: block;
    padding: 8px 5px;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}
.user-wrapper ul li a:hover{
    color: var(--main-color);
    background: #fff;
    
}
.user-wrapper ul li ul.dropdown{
    min-width: 175px; /* Set width of the dropdown */
    background: #ffff;
    display: none;
    position: absolute;
    z-index: 999;
    border: 1px solid #ccc;
    
}
.user-wrapper ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    font-size: 0.8rem;
}
.user-wrapper ul li ul.dropdown li{
    display: block;
}
.text-green {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 6px;
    background-color:#C7EEC0;
}
.text-red {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 15px; 
    background-color:#FBC4B9;

}
.text-grey{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    padding: 3px 6px;
    background-color: #d8d8d8;
}

#nav-ul .dropdown{
    font-size: 1rem;
    border-radius: 15px;
    border: 1.5px solid var(--color-dark);
    padding: 1px;
    height: 35px;
    background-color: var(--button-hover);
}
#nav-ul .dropdown #nav-li{
    color: var(--color-dark);
    padding-top: 4px;
}
#nav-ul .dropdown #nav-li :hover{
    color: #ffffff;
}
#nav-ul .dropdown #nav-li #out{
    font-size: 1.1rem !important;
    font-style: bold !important;
    
} 
#nav-ul .dropdown #nav-li #out #out{
    padding-right: 4px;
    
}

.modal .close{
    font-size: 2.2rem;
    position: absolute !important;
    top: -5px !important;
    right: 8px !important;
}
.modal-title{
    font-size: 1.2rem !important;
    margin: auto !important;
    color: var(--color-dark) !important;
    
}