@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --green: #2fbab8;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    overflow-x: hidden;
    scroll-padding-top:7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.header{
    padding: 2rem;
    text-decoration: none;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: var(--black);
    font-size: 1.6rem !important;
    padding-top: 4rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.6rem!important;
    letter-spacing: .4rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
  
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}
.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}
.btn:hover{
    background: var(--green);
    color: #fff;

}

.btn:hover span{
    color: var(--green);
    background: #fff;
    margin-left: 1rem;
    
}
.header{
    padding:2rem 6%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    
}
.header .banner{
    position: relative;
    
}
/*logo teksto dydis ir spalva*/
.header .banner .logo{
    font-size: 1.5rem;
    color: var(--black);
    margin-top: 8px;
   
}
.header .banner .cne{
    display: inline-block;
    font-size: 0.9rem;
    color: var(--green);
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-right: 1.5rem;
}
.header .banner  .cnt{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    color: var(--green);
    right: 0;
    margin-left: 1.5rem;
    text-align: right;
}
/*logo icon'o spalva*/
.header .logo i{
    color: var(--green);
}


/*navbar'o skiltys*/
.header .navbar a, 
.header .navbar button[type="submit"] {
    font-size: 1.4rem;
    color: var(--light-color);
    margin-left:  1.1rem;
    text-decoration: none;
}
/*navbar'o skiltys uzvedus pele*/
.header .navbar a:hover, 
.header .navbar button[type="submit"]:hover {
    color: var(--green);
}

/* menu mygtukas nerodomas didesnes rezoliucijos ekrane*/
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/*.services .heading{
    font-size: 1.8rem !important;
}
.services h1 span, .services .h1 span{
    font-size: 1.8rem !important;
}*/
.services .box-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(43rem, 1fr)) !important;
    gap: 2rem !important;
}

.services .box-container .box{
    background: #fff;
    border-radius:  .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    position: relative;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 1.2rem !important;
    padding: 1rem 0 !important;
    text-transform: none !important;
    color: var(--green);
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1rem !important;
    line-height: 2;
    text-transform: none;
    text-align: justify
}
.services .box-container .box .cost{
    color: var(--green);
    text-transform: none;
    font-size: 1rem !important;
    font-weight: bold;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
/* For laptop 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
 
    /*logo teksto dydis ir spalva*/
    .header .banner .logo{
        font-size: 1.2rem;
        margin-top: 6px;

    }
    .header .banner .cne{
        font-size: 0.8rem;
    }
    .header .banner  .cnt{
        font-size: 0.8rem;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.3rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 1.3rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 1.3rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
       
        border-radius:  .5rem;
        padding: 2rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 1rem !important;
        padding: 1rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.8rem !important;
        line-height: 2;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.8rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
} 
/* For laptop 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  {
    #menu-btn{
        display: initial !important;
        font-size: 1rem !important;
        border-radius: .5rem;
        background: #eee;
        color:var(--green);
        padding: 0.7rem 1rem;
        cursor: pointer;
        display: none;

    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .header .banner .logo{
        font-size: 1.2rem;
        color: var(--black);
        margin-top: 6px;
        padding-left: 20px !important;
       
    }
    .header .banner .cne{
        display: inline-block;
        font-size: 0.8rem;
        color: var(--green);
        font-weight: bold;
        position: absolute;
        padding-left: 20px !important;
        margin-right: 1rem;
    }
    .header .banner  .cnt{
        display: inline-block;
        font-size: 0.8rem;
        font-weight: bold;
        position: absolute;
        color: var(--green);
        right: 0;
        margin-left: 1rem;
        text-align: right;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 1rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 1rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
       
        border-radius:  .5rem;
        padding: 1rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 1rem !important;
        padding: 1rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.8rem !important;
        line-height: 2;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.8rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}
@media only screen   
and (min-device-width : 641px)   
and (max-device-width : 767px){
    #menu-btn{
        display: initial !important;
        font-size: 1.1rem;
        border-radius: .5rem;
        background: #eee;
        color:var(--green);
        padding: 0.8rem 1rem;
        cursor: pointer;
        display: none;

    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .header .banner .logo{
        font-size: 1rem !important;
        margin-top: 6px;
        padding-left: 40px !important;
       
    }
    .header .banner .cne{
        display: inline-block;
        font-size: 0.6rem !important;
        color: var(--green);
        font-weight: bold;
        position: absolute;
        padding-left: 40px !important;
        margin-right: 1rem;
    }
    .header .banner  .cnt{
        display: inline-block;
        font-size: 0.6rem !important;
        font-weight: bold;
        position: absolute;
        color: var(--green);
        right: 0;
        margin-left: 1rem;
        text-align: right;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 1rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 1rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
        border-radius:  .5rem;
        padding: 1rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 1rem !important;
        padding: 0.2rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.8rem !important;
        line-height: 1;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.8rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

}
/* For mobile 640 Resolution */  
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px){
    #menu-btn{
        display: initial !important;
        font-size: 1rem;
        border-radius: .5rem;
        background: #eee;
        color:var(--green);
        padding: 0.8rem 1rem;
        cursor: pointer;
        display: none;

    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .header .banner .logo{
        font-size: 1rem !important;
        margin-top: 6px;
        padding-left: 40px !important;
       
    }
    .header .banner .cne{
        display: inline-block;
        font-size: 0.65rem !important;
        color: var(--green);
        font-weight: bold;
        position: absolute;
        padding-left: 40px !important;
        margin-right: 1rem;
    }
    .header .banner  .cnt{
        display: inline-block;
        font-size: 0.65rem !important;
        font-weight: bold;
        position: absolute;
        color: var(--green);
        right: 0;
        margin-left: 1rem;
        text-align: right;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 0.8rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 0.8rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
        border-radius:  .5rem;
        padding: 1rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 0.7rem !important;
        padding: 0.2rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.6rem !important;
        line-height: 1;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.6rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
} 
/* For mobile 480 Resolution */  
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px){
    #menu-btn{
        display: initial !important;
        font-size: 1rem !important;
        border-radius: .5rem;
        background: #eee;
        color:var(--green);
        padding: 0.7rem 1rem;
        cursor: pointer;
        display: none;

    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .header .banner .logo{
        font-size: 0.8rem !important;
        margin-top: 6px;
        padding-left: 40px !important;
       
    }
    .header .banner .cne{
        display: inline-block;
        font-size: 0.50rem !important;
        color: var(--green);
        font-weight: bold;
        position: absolute;
        padding-left: 40px !important;
        margin-right: 1rem;
    }
    .header .banner  .cnt{
        display: inline-block;
        font-size: 0.50rem !important;
        font-weight: bold;
        position: absolute;
        color: var(--green);
        right: 0;
        margin-left: 1rem;
        text-align: right;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 0.7rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 0.7rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
        border-radius:  .5rem;
        padding: 1rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 0.7rem !important;
        padding: 0.2rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.6rem !important;
        line-height: 1;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.6rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

}
@media only screen   
and (min-width: 1144px)   
and (max-width: 1231px) {

    /*logo teksto dydis ir spalva*/
    .header .banner .logo{
        font-size: 1.1rem;
        margin-top: 6px;

    }
    .header .banner .cne{
        font-size: 0.7rem;
    }
    .header .banner  .cnt{
        font-size: 0.7rem;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 1.3rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 1.3rem!important;
        letter-spacing: .2rem;
    }


}
@media only screen   
and (min-width: 1025px)   
and (max-width: 1143px) {
    #menu-btn{
        display: initial !important;
        font-size: 1.4rem !important;
        border-radius: .5rem;
        background: #eee;
        color:var(--green);
        padding: 0.7rem 1rem;
        cursor: pointer;
        display: none;

    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .header .banner .logo{
        font-size: 1.2rem !important;
        margin-top: 6px;
        padding-left: 30px !important;
       
    }
    .header .banner .cne{
        display: inline-block;
        font-size: 0.75rem !important;
        color: var(--green);
        font-weight: bold;
        position: absolute;
        padding-left: 40px !important;
        margin-right: 1rem;
    }
    .header .banner  .cnt{
        display: inline-block;
        font-size: 0.75rem !important;
        font-weight: bold;
        position: absolute;
        color: var(--green);
        right: 0;
        margin-left: 1rem;
        text-align: right;
    }
    /*navbar'o skiltys*/
    .header .navbar a, 
    .header .navbar button[type="submit"] {
        font-size: 1.2rem;
        margin-left:  1rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: var(--black);
        font-size: 1.1rem !important;
        padding-top: 4rem;
        letter-spacing: .2rem;
    }
    
    .heading span{
        text-transform: uppercase;
        color: var(--green);
        font-size: 1.1rem!important;
        letter-spacing: .2rem;
    }

    .services .box-container{
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) !important;
        gap: 1rem !important;
    }
    
    .services .box-container .box{
        border-radius:  .5rem;
        padding: 1rem;
        position: relative;
    }
    
    .services .box-container .box h3{
        
        font-size: 0.9rem !important;
        padding: 0.2rem 0 !important;
       
    }
    
    .services .box-container .box p{
        
        font-size: 0.7rem !important;
        line-height: 1;
        text-align: justify
    }
    .services .box-container .box .cost{
        font-size: 0.7rem !important;
        font-weight: bold;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

}
/* kai ekrano dydis mazesnis nei 1455px, rodyti menu mygtuka ir paslepti navbar'o sekcijas po mygtuku
@media (max-width: 1455px){
    #menu-btn{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2S ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }    
}

.active{
    color: var(--green);
    font-style: bold ;
}
/* media queries kai ekrando dydis yra mazesnis nei 450px
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
   
}*/

